@import '../../../assets/css/_utilities/_variables'
@import '../../../assets/css/_utilities/_functions'

.app-header
  background-color: $color-header
  color: $color-gray
  display: flex
  flex: none
  font-size: pxToRem(16)