@import '../../../assets/css/_utilities/_imports';

.app-footer {
  background: $color-secondary;
  color: $color-secondary-text;
  display: flex;
  flex: none;
  font-weight: 900;
  padding: pxToRem(10) pxToRem(32);
  justify-content: flex-end;
}
  